#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {  
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = < &kp K_CUT    &kp K_COPY    &kp K_PASTE    
                         &kp K_UNDO    &kp UP    &kp K_REDO
                         &kp LEFT    &kp DOWN    &kp RIGHT >;
        };
    };
 };
