#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {  
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = < &kp F1    &kp TAB    &kp T  
                         &kp LEFT    &kp DOWN    &kp RIGHT 
                         &kp ESC    &kp UP    &kp E
                        >;
        };
    };
 };
